<div class="content">
  <p class="mb-3">
    <a href="/dashboard"><span class="icon"><i class="fas fa-arrow-left"></i></span> Back to dashboard</a>
  </p>
  <h1 class="title">{{playlist.title}}</h1>
  {{> error}}
  {{> add-track}}
  {{> list-tracks}}
</div>
