<nav class="navbar" role="navigation">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        {{#if userName}}
          <span class="mr-3">{{userName}}</span>
        {{/if}}
        <div class="buttons">
          <a class="button is-info" href="/dashboard">Dashboard</a>
          <a class="button is-light" href="/logout">Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
